body {
  background-color: #9f86c0;
}
h1 {
  text-align: center;
  color: darkslategray;
}
h2 {
  text-align: center;
  justify-content: center;
  color: #fff0f3;
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
  border: 10px solid black;
  margin: 50px 0 0 0;
  /* border-color: blue; */
}

a {
  display: flex;
  background-color: #e0b1cb;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  color: black;
  width: 100px;
  padding: 1px 1px;
  margin: 1px 1px;
  text-decoration: none;
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 90px 0 0 0;
}

.gamePage {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
#board {
  width: 400px;
  height: 400px;
  background-color: bisque;
  border: 6px solid rgb(226, 193, 193);
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.tile {
  width: 90px;
  height: 90px;
  border: 5px solid rgb(226, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.t2 {
  color: black;
  background-color: #dfb9b2;
}
.t4 {
  color: black;
  background-color: #f7c59f;
}
.t8 {
  color: black;
  background-color: #ff9b54;
}
.t16 {
  color: black;
  background-color: #ff7f51;
}
.t32 {
  color: white;
  background-color: #720026;
}
.t64 {
  color: white;
  background-color: #4f000b;
}
.t128 {
  color: black;
  background-color: #f4d35e;
}
.t256 {
  color: black;
  background-color: #ff595e;
}
.t512 {
  color: black;
  background-color: #6a4c93;
}
.t1536 {
  color: black;
  background-color: #119988;
}
.t2048 {
  color: black;
  background-color: #8ac926;
}
.t4096 {
  color: white;
  background-color: #9a0f00;
}
.t8192 {
  color: white;
  background-color: red;
}
hr {
  width: 500px;
}

#gameOver {
  color: #4f000b;
  font-size: xx-large;
  font-family: fantasy;
  margin: 10px;
}

#doAgain {
  display: flex;
  background-color: #e0b1cb;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  color: black;
  width: 400px;
  padding: 1px 1px;
  margin: 0;
  text-decoration: none;
}

.restart {
  display: flex;
  justify-content: center;
  margin: 30px;
}
